version: "3.9"
services:
  backend:
    build: ./backend
    image: yourdockerhubuser/backend:1.0.0
    container_name: backend
    ports:
      - "8080:8080"
  frontend:
    build: ./frontend
    image: yourdockerhubuser/frontend:1.0.0
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "3000:80"
